---
layout: default
---


{% include carousel.html %}

<hr>
      
           <!-- SITE FAVS -->
            <div class="row">
              <div class="col-md-6">
                <h2>Asp.net 4.0 master pages with bootstrap</h2>
                <p>A github repo that pulls together various open source asp.net with bootstrap components and having them work in an ASP.net master page.</p>
                <p><a class="btn btn-default" target="_blank" href="https://github.com/jennifert/Boostrap-ASP_Net-MasterPages" role="button">View repo &raquo;</a></p>
              </div>
              <div class="col-md-6">
                <h2>Bootstrap movie search</h2>
                <p>This small php application is an app that searches IMDB by using an API from <a href="http://http://www.omdbapi.com/">omdbapi.com</a>. This code is using PHP5 and Simple XML as the back-end, while the front end is created using bootstrap.</p>
                <p><a class="btn btn-default" target="_blank" href="http://jenntesolin.com/demos/Bootstrap-IMDB/index.php" role="button">View demo &raquo;</a></p>
              </div>
            </div>
          <!-- /.SITE FAVS -->

           <hr>

  {% for post in site.posts limit:1 %}
   <div class="row">
              <div class="col-md-12">
                  <h2>Latest Posting:</h2>
                  <h3 class="blog-header">{{ post.title }}</h3>
                  <p class="blog-summary"> {{ post.content | split:'<!--more-->' | first }}</p>
                  <p><a href="{{ post.url | prepend: site.baseurl }}" class="red">Read more...</a></p>
              <div>
                <span class="badge blog-date"><time class="published" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%b %-d, %Y" }}</time></span>
                <div class="pull-right">
                  {% for category in post.categories %}
                    <span class="label label-primary">{{ category }}</span>
                  {% endfor %}
                </div>
				       
              </div>
            </div>
          </div>
     {% endfor %}

     
    <link rel="next" href="/blog/"/>