<!-- Carousel
          ================================================== -->
          <div class="row hidden-xs">
            <div class="col-md-12">
              <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                      <div class="item active">
                          <img src="imgs/mayan_ruins.jpg" alt="Mayan Ruins">
                          <div class="carousel-caption">
                               <h3>
                                  Mayan Ruins
                              </h3>
                              <p>A structure at the Mayan ruins in Cozumeil, Mexico. <a href="https://www.flickr.com/photos/68631186@N06/12470326474/" target="_blank" rel="nofollow">View on Flickr</a></p>
                          </div>
                      </div>
                      <div class="item">
                          <img src="imgs/caribbean_flower.jpg" alt="A Caribbean Flower">
                          <div class="carousel-caption">
                              <h3>
                                  Caribbean Flower
                              </h3>
                              <p>A flower found while cruising in the Western Caribbean. <a href="https://www.flickr.com/photos/68631186@N06/12470204323/" target="_blank" rel="nofollow">View on Flickr</a></p>
                          </div>
                      </div>
                      <div class="item">
                          <img src="imgs/peace_arc.jpg" alt="Third slide">
                          <div class="carousel-caption">
                               <h3>
                                  Peace Arch
                              </h3>
                              <p>The Peace Arch at the Hiroshima Memorial Peace Park. <a href="https://www.flickr.com/photos/68631186@N06/12469357815/" target="_blank" rel="nofollow">View on Flickr</a></p>
                          </div>
                      </div>
                  </div>
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                      <span class="fa fa-angle-left fa-4x"></span>
                  </a>
                  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                    <span class="fa fa-angle-right fa-4x"></span>
                  </a>
                </div>
              </div>
            </div>
          <!-- /.carousel -->

          <hr class="hidden-xs">