
      <footer>
        <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
           <p class="vcard">
          &copy; {{ site.time | date: '%Y' }} <span class="fn">{{ site.author.name }}</span>
          <span class="pull-right">
            <a  class="url" href="https://github.com/{{ site.author.github }}?tab=repositories" target="_blank" rel="nofollow">
              <i class="fa fa-github fa-3x"></i>
              <span class="sr-only">My Github Repos</span>
            </a>
            <a class="url" href="{{ "/feed.xml" | prepend: site.baseurl }}" rel="nofollow">
              <i class="fa fa-rss fa-3x"></i>
              <span class="sr-only">Site RSS Feed</span>
            </a>
            <a class="url" href="http://ca.linkedin.com/pub/jennifer-tesolin/2b/5bb/3a6" target="_blank" rel="nofollow">
              <i class="fa fa-linkedin fa-3x"></i>
              <span class="sr-only">My LinkedIn Profile</span>
            </a>
          </span>
        </p>
        </div>
        </div>
        </div>
      </footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/dist/js/main.js"></script>
