    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">Home</a>
        </div>
        <div class="collapse navbar-collapse">
      {% capture location %}{{ page.url | remove_first:'/' | split:'/' | first }}{% endcapture %}
      <ul class="nav navbar-nav">
        <li {% if location == 'about' %}class="active" {% endif %}><a href="/about/">About</a></li>
        <li {% if location == 'blog' %}class="active" {% endif %}><a href="/blog/">Blog</a></li>
        <li {% if location == 'categories' %}class="active" {% endif %}><a href="/categories/">Categories</a></li>
        <li {% if location == 'photos' %}class="active" {% endif %}><a href="/photos/">Photos</a></li>
      </ul>

      <form role="search" id="SearchForm" method="get" class="navbar-form navbar-right form-inline" action="/search/">
          <div class="form-group" id="searchdiv">
            <label class="sr-only" for="searchbox">Search for:</label>
            <input type="search" id="searchbox" name="searchbox" class="form-control search" required>&nbsp;
          </div>
          <button type="submit" class="btn btn-success search" alt="Search now"><i class="fa fa-search"></i></button>
      </form>
        </div><!--/.nav-collapse -->
      </div>
    </div>
